*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fl{
    float: left;
}

.fl::after{
    content: "";
    display: table;
    clear: both;
}

.abs{
    position: absolute;
}

.jumbo-container{
    width: 100%;    
    height: 450px;
}

.jumbotron{
    background: url(../img/jumbo.png);
    background-size: cover;
    height: 100%;
}

.nav-container{
    position: relative;
    height: 60px;
    width: 800px;
    margin: 0 auto;
}

.ds-logo{
    top: 12px;
    line-height: 60px;
}
.nav-container ul{
    left: 250px;
    line-height: 60px;
}
.nav-container ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 11px;
    color: white;
    text-align: center;
}

.nav-container ul li:hover{
    text-decoration: underline;
}

.w-button{
    background: white;
    color: black;
    border-radius: 15px;
}

.w-button:hover{
    text-decoration: underline;
}

.black-button{
    background: #23272A;
    color: white;
    border-radius: 15px;
}

.black-button:hover{
    text-decoration: underline;
}

.blue-button{
    background: #89A2E6;
    color: white;
    border-radius: 25px;
}

.blue-button:hover{
    text-decoration: underline;
}
.small{
    top: 15px;
    font-size: 11px;
}
.w-button, small{
    left: 740px;
    padding: 8px;
}

.jumbo-content{
    position: relative;
    width: 500px;
    height: 390px;
    margin: 0 auto;
}

.jumbo-text{
    color: white;
    text-align: center;
    top: 60px
}

.jumbo-text, h2{
    margin-bottom: 30px;
}

.jumbo-text p{
    line-height: 25px;
    font-weight: 400;
    font-size: 15px;
}

.jumbo-buttons{
    bottom: 180px;
    font-size: 13px;
}

.jumbo-buttons .w-button{
    left: 80px;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
}

.jumbo-buttons .black-button{
    left: 250px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
}

.section{
    width: 1200px;
    height: 600px;
    padding: 100px 100px;
    position: relative;
}

.grey-section{
    background: #F6F6F6;
}

.big-section{
    height: 1100px;
}

.img-section img{
    width: 600px;
}

.img-section .centered-img{
    width: 1000px;
    left: 100px;
    top: 230px;
}

.text-section{
    width: 400px;
    margin: 0 auto;
}

.text-section h2{
    font-size: 40px;
}

.text-section p{
    line-height: 25px;
}

.centered-text h2{
    text-align: center;
    width: 1000px;
}

.centered-text p{
    text-align: center;
    width: 900px;
    padding-left: 80px;
}

.star{
    background-size: cover;
    bottom: 200px;
    left: 350px;
}

.star h2{
    left: 50px;
    font-size: 25px;
}

.star .blue-button{
    position: absolute;
    top: 110px;
    left: 150px;
    padding: 15px;
    width: 200px;
    padding-left: 30px;
}
footer{
    position: relative;
    background: #22272A;
}