*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fl{
    float: left;
}
.fl::after{
    content: "";
    display: table;
    clear: both;
}

.abs{
    position: absolute;
}

.jumbo-container{
    width: 100%;    
    height: 450px;
}

.jumbotron{
    background: url(../img/jumbo.png);
    background-size: cover;
    height: 100%;
}

.nav-container{
    position: relative;
    height: 60px;
    width: 800px;
    margin: 0 auto;
}

.ds-logo{
    top: 12px;
    line-height: 60px;
}
.nav-container ul{
    left: 250px;
    line-height: 60px;
}
.nav-container ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 11px;
    color: white;
    text-align: center;
}

.w-button{
    background: white;
    color: black;
    border-radius: 15px;
}

.b-button{
    background: #23272A;
    color: white;
    border-radius: 15px;
}
.small{
    top: 15px;
    font-size: 11px;
}
.w-button, small{
    left: 740px;
    padding: 8px;
}

.jumbo-content{
    position: relative;
    width: 500px;
    height: 390px;
    margin: 0 auto;
}

.jumbo-text{
    color: white;
    text-align: center;
    top: 60px
}

.jumbo-text h1{
    margin-bottom: 30px;
}

.jumbo-text p{
    line-height: 25px;
    font-weight: 400;
    font-size: 15px;
}

.jumbo-buttons{
    bottom: 180px;
    font-size: 13px;
}

.jumbo-buttons .w-button{
    left: 80px;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
}

.jumbo-buttons .b-button{
    left: 250px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
}
